html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
font-family: 'Poppins', sans-serif;
}
@media(min-width: 768px){
	#header{
		height: 60vh;
	}
}
@media(min-width: 1200px){
	#header{
		height: 80vh;
	}
}
.header{
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
	url(images/bg2.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
	width: 100%

}
.navbar-nav li a{
	float: right;
	color: #fff!important;
}
.navbar-brand{
	width: 150px;
	margin-left: 30px;
	color: #fff!important;
}
.navbar-toggler{
	border: none!important;
	outline: none!important;
}
nav .fa-bars{
	color: #fff;
	font-size: 26px;
}
/*---Welcome Start----*/
.welcome{
	padding: 50px 100px;
	margin-top: -140px;
	background-color: #fff;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}
#welcome:hover{
	transform: translateY(-20px);
}
.welcome:hover{
	color: #fff;
	background:linear-gradient(139deg,#FABBFF 0%,#2BD2FF 52%, #2BFF88 90%);
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);

}
.welcome .home-btn{
	margin-top: 10px;
	padding: 10px 30px;
	border-radius: 30px;
	color: #fff;
	background-color: #013f7e;
}
.welcome .home-btn:hover{
	color: #50d1c0;
	background-color: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
/*---Welcome End----*/
/*------About us start---------------*/
#about{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#about .col-md-6{
	padding: 20px 10px;
}
#about h3{
	margin: 20px auto;
}
.img-about{
	animation: border-transform 10s linear infinite alternate forwards;
	background-color: #b7a7ed;
}
@keyframes border-transform{
	0%, 100%{
		border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
	}
	14%{
		border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
	}
	28%{
		border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
	}
	42%{
		border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
	}
	56%{
		border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
	}
	70%{
		border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
	}
	84%{
		border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
	}

}
/*------About us End---------------*/
/*------Course Start---------------*/
#course{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.card .inner{
	overflow: hidden;
}
.card .inner .img{
	transition: 0.5s ease;
}
.inner:hover img{
	transform: scale(1.5) rotate(5deg);
}
#course .container h2{
	text-decoration: underline;
	text-underline-position: under;
	letter-spacing: 2px;
	padding-bottom: 2%;
}
.card-body p{
	font-size: 1.0rem;
	line-height: 1.6;
	font-weight: 400;
}
.card-body h5{
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}
.card:hover{
	color: #fff;
	background:linear-gradient(105deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
@media (min-width: 768px){
	.card-marg{
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
@media (min-width: 1200px){
	.card-marg{
		margin:0;
	}
}
/*--Our Team---*/
#team{
	margin-bottom: 2rem;
}
.carousel-item{
	padding: 80px;
}
.carousel-item .img-box{
	width: 135px;
	height: 135px;
}
.carousel-indicators{
	bottom: 40px;
}
/*--Features--*/
#features{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
	url(images/fea.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;

}
#features .col-md-6{
	padding: 20px;
}
.feature-box{
	height: 120px;
}
.feature-box .feature-left{
	height: 120px;
	width: 20%;
	float: left;
}
.feature-box .feature-left .fa{
	padding-top: 13px;
	font-size: 50px;
}
.feature-box .feature-right{
	height: 120px;
	width: 80%;
	float: left;
}
.feature-box .feature-right h4{
	padding-top: 10px;
	padding-left: 15px;
	text-align: left;
}
.feature-box .feature-right p{
	padding-left: 15px;
	text-align: left;
}
.img-features{
	max-width: 100%;
	top:50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}
/*--Testimonials--*/
#testimonials{
	padding-top: 2rem;
	padding-bottom: 2rem;
}
#testimonials .col-md-4{
	padding: 10px 30px;
}
#testimonials img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-left: -30px;
	margin-top: -40px;
	margin-bottom: 30px;
	border:5px solid #fff;
}
.review{
	font-size: 16px;
	padding: 10px 10px 10px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}
.review .fa-twitter{
	color: #013f7e;
}
#testimonials span{
	color: #013f7e;
	font-size: 18px;
	font-weight: 600;
}
#testimonials h1{
color: #013f7e;
margin-bottom: 20px;
}
#testimonials p{
	padding-bottom: 30px;
}
/*---Contact US-----*/
#contactus{
	padding-top: 2rem;
	padding-bottom: 2rem;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
	url(images/contactus.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
#contactus .container{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
#contactus .container h2{
	text-decoration: underline;
	text-underline-position: under;
	letter-spacing: 2px;
}
#contactus .container p{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3%;
	letter-spacing: 3px;
}
.form-group{
	display: grid;
	grid-gap: 10px;
}
.form-group input{
	padding: 10px;
	margin: 10px;
	width: 100%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border:none;
	outline: none;
}
.form-group input::placeholder{
	color:#32c45d;
}
.form-group textarea{
	padding: 10px;
	margin: 10px;
	width: 100%;
	background-color: rgba(136,133,133,0.5);
	color: #fff;
	border:none;
	outline: none;
}
.form-group textarea::placeholder{
	color:#32c45d;
}
#contactus .container .btn{
	width: 40%;
	background:none;
	padding: 4px;
	outline: none;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 33px;
	text-align:center;
	margin-left: 1%;
	border:4px solid #fff;
	border-radius: 10px;
	color: #013f7e;
}
#contactus .btn:hover{
	border:2px solid #013f7e;
	color: #fff;
}
/*---Footer--*/
#footer{
	padding-top: 2rem;
	background-color: #efefef;
	color: #013f7e;
}
#footer h1{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size:15px;
	font-weight: 600;
	text-align:left;

}
#footer p{
	font-size:0.7rem;
	text-align:left;
}
#footer .city{
	margin-left: 2rem;
}
#footer .row .fa{
	padding-right: 20px;
	font-size:15px;
}
#footer hr{
	margin-top: 10px;
}
#footer .copyright{
	text-align: center;
	font-size:15px;
	margin-bottom: -80px;
}
#myBtn{
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border:none;
	color: #fff;
	background:#00abff;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background:#606060;
}